#marca{
  display: none;
}

.fa-bars{
  background: #3790DF;
  border-radius: 0px 0px 30px 30px;
  padding: 18px;
  cursor: pointer;
}

.fa-bars:active{
  transform: rotate(90deg);
  border-radius: 50%;
}


nav{
  text-align: center;
}


.list-group{
  width: 100%;
  height: 100vh;
  background: #3790DF;
  transform: translateX(-100%);
  transition: 0.3s;
  position: absolute;
  z-index: 99;
  font-family: 'Passion One', cursive;
}


.list-group .list-group-item{
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.list-group .list-group-item i{
  float: left;
}


#marca:checked ~ .list-group{
  transform: translateX(0%);
}
